// GENERAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #232322;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px 0;
    color: white;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
